@import url("https://p.typekit.net/p.css?s=1&k=tnd7skm&ht=tk&f=33848.33849&a=61501612&app=typekit&e=css");
@import url("https://use.typekit.net/tnd7skm.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: black;
  background-color: #efefef;
}
/* ------------------------------------------------------------------------------------------------------------------- */
  /* Design Header */
/* ------------------------------------------------------------------------------------------------------------------- */

.content-header{
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: #1C1C1C;
  box-shadow: 10px 10px 10px #000000;
  margin: auto;
  z-index: 2;
}

.navbar{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.logo{
  color: white;
  font-size: 30px;
  font-family: 'marshmallow-fluff';
  text-decoration: none;
}

.item-nav:hover{
  color: white;
}


/* ------------------------------------------------------------------------------------------------------------------- */
  /* Design content */
/* ------------------------------------------------------------------------------------------------------------------- */

/* dashboard */
/* ---------------------------------- */

.content-dashboard{
  width: 100vw;
  height: 100vh;
  background-color: #1C1C1C;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content-dashboard p{
  color: white;
  font-size: 70px;
  font-family: 'marshmallow-fluff';
}
.content-dashboard a{
  text-decoration: none;
  color: white;
  transform: translateY(100px);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

/* login / signup page*/
/* ---------------------------------- */
.navbar-login{
  justify-content: center;
  text-decoration: none;
}

.content-login-page{
  width: 100%;
  height: 100vh;
  background-color: #1C1C1C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-signup-page{
  width: 100%;
  height: auto;
  background-color: #1C1C1C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 160px;
  padding-bottom: 50px;
}

.content-login-page form{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-login-page h1{
  color: white;
  font-size: 31px;
  font-family: 'Roboto';
  font-weight: 400;
}

.form-login{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  color: #1B2432;
}

.form-login label{
  font-size: 18px;
  color: white;
  font-family: 'Roboto';
  font-weight: 400;
  margin-bottom: 10px;
}

.fiel-password{
  margin-top: 40px;
}

.item-form{
  width: 300px;
  height: 55px;
  color: white;
  background-color: #2B2B2F;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  appearance: none;
}
.item-form::placeholder{
  color: white;
  opacity: 50%;
  font-family: 'Roboto';
  font-weight: 400;
}

.btn-login{
  font-size: 18px;
  color: white;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 8px 46px;
  background-color: transparent;
  font-family: 'Roboto';
  font-weight: 400;
}

.link-signup{
  position: absolute;
  color: white;
  bottom: 0;
  text-align: center;
  margin-bottom: 30px;
}

.link-signup a{
  text-decoration: none;
  color: white;
}

/* home_page */
/* ---------------------------------- */
.page-content{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #1C1C1C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container-school-level{
  position: relative;
  width: 400px;
  height: 60%;
  transform: translateY(150px);
  overflow: hidden;
}

.container-slide{
  position: relative;
  top: 0px;
  left: 0px;
  width: 2000%;
  height: 100%;
  display: flex;
}
.container-slide.glissade{
  transition: left 0.4s ease-out;
}

.item-shool-level{
  position: relative;
  width: 400px;
  height: 300px;
  font-family: 'forma-djr-display, sans-serif';
  color: white;
  font-size: 50px;
  transform: translateY(50px);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.school-level a{
  color: white;
  text-decoration: none;
}

.bottom-page{
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-swipe{
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow{
  padding: 20px;
}
.arrow-right{
  transform: rotate(180deg);
}

.text-swipe{
  margin: none;
  color: white;
  opacity: 24%;
  margin: auto;
  font-size: 18px;
}

.end-page{
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.btn-add{
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  padding: 8px 47px;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 40px;
}

.actif-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-landmark{
  height: 1px;
  width: 26px;
  background-color: white;
  margin: 15px;
  border-radius: 50px;
}

.item-landmark.actif{
  height: 6px;
  width: 45px;
}

/* pop-up add grade */
/* ---------------------------------- */

.section_add_grade{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background:rgba(255,255,255, 0.3);
  z-index: 5;
  visibility: hidden;
}
.section_add_grade.active{
  visibility: visible;
}

.container_pop_up{
  position: absolute;
  width: 100%;
  height: 400px;
  bottom: 0;
  z-index: 10;
  transform: translateY(400px);
  transition: all 330ms ease-out;
  visibility: hidden;
}

.container_pop_up.active{
  visibility: visible;
  transform: translateY(0px);
  transition: all 330ms ease-out;
}

.pop_up_add_grade{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: white;
}

.separator-top{
  width: 40px;
  height: 2px;
  background-color: black;
  opacity: 40%;
  border-radius: 20px;
  margin: auto;
  margin-top: 10px;
}

.pop_up_add_grade form{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.form-grade{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  color: #1B2432;
}

.form-grade label{
  font-size: 18px;
  color: black;
  font-family: 'Roboto';
  font-weight: 400;
  margin-bottom: 25px;
}

.form-grade label::after{
  content: '';
  position:relative;
  top: 5px;
  left: 0;
  width: 25%;
  height: 2px;
  display: flex;
  background-color: black;
  transition: 0.3s;
}

.form-grade input[type=text]{
  position: relative;
  width: 300px;
  height: 55px;
  color: white;
  background-color: #2B2B2F;
  border: none;
  border-radius: 10px;
  padding-left: 15px;
  /* padding: 8px 20px; */
  z-index: 50;
}
.form-grade input[type=text]::placeholder{
  color: white;
  opacity: 50%;
  font-family: 'Roboto';
  font-weight: 400;
}

.btn_grade{
  width: 300px;
  height: 55px;
  font-size: 18px;
  color: white;
  background-color: #0B6DE4;
  border: none;
  border-radius: 10px;
  margin-bottom: 45px;
  font-family: 'Roboto';
  font-weight: 400;
}

/* archive student page*/
/* ---------------------------------- */

.page-content-archive-student{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-archive-student{
  min-height: 100vh;
  padding-bottom: 100px;
  align-self: flex-start;
}

.container-archive-student, .container-student{
  height: 100%;
  width: 100%;
}

.top-page-trombi{
  width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-top: 110px !important;
}

.container-icon-arrow{
  margin-left: 25px;
}

.title-grade{
  text-align: center;
  color: white;
}

.title-grade h1{
  font-family: 'forma-djr-display, sans-serif';
  font-size: 30px;
  font-weight: 500;
  margin: 0;
}

/* card students */
.container-card-student{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  flex-wrap: wrap;
  gap: 40px;
}

.img-profil{
  width: 110px;
  height: 110px;
  margin: auto;
}

.img-profil img{
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 100px;
  border: 2px solid white;
  margin: auto;
}

.separator-bottom-img-profil{
  width: 90px;
  height: 1px;
  background-color: white;
  margin: auto;
  margin-top: 16px;
}

.name-student{
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border: none;
}
.name-student a{
  color: white;
  text-decoration: none;
}

.specialities-student{
  font-size: 15px;
  color: white;
  text-align: center;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-bottom: 0;
}

.container-btn-add-student{
  height: 90px;
  width: 100%;
  background-color: #1C1C1C;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.add-student{
  margin: 50px 0 ;
}


/* student page*/
/* ---------------------------------- */

.container-detail-student{
  width: 85%;
  margin: auto;
  margin-top: 50px;
}


.location{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.location-student{
  margin: 0;
  font-size: 15px;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin-left: 15px;
}

.section-info-horizontal{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
}

.column-age, .column-phone, .column-age{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-info-horizontal .label-item{
  color: white;
  opacity: 60%;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
}

.section-info-horizontal .value-item{
  color: white;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin: 0;
  margin-top: 5px;
}

.section-info-horizontal .separator-vertical{
  width: 1px;
  height: 40px;
  background-color: white;
  margin: 0 30px;
}

.container-description{
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

.title-description{
  display: inline-block;
  color: white;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
}
.title-description::after{
  content: '';
  position:relative;
  top: 5px;
  left: 0;
  width: 70%;
  height: 2px;
  display: flex;
  background-color: white;
  transition: 0.3s;
}

.description{
  color: white;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  margin-bottom: 20px;
  line-height: 23px;
}

.container-email{
  color: white;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.container-email .email b{
  font-weight: 500;
}

